/*----------------------------------------------Studio------------------*/

:root {
  --primery-white: #ffffff;
  --primery-black: #212121;
  --primery-blue: #2196f3;
  --primery-grey: #757575;
}

.body {
  font-family: Roboto;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*BUTTON*/
.hero-link.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87px;
  color: var(--primery-white);
  background-color: var(--primery-blue);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.filter-botton {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-black);
  background-color: #f5f4fa;
}

.filter-botton:hover,
.filter-botton:focus {
  color: var(--primery-white);
  background-color: var(--primery-blue);
}
/*---HEADER---*/

.main-header {
}

.navigation {
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}

.logo-web {
  color: var(--primery-blue);
}

.logo.footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--primery-white);
}
.navigation-list {
}

.navigation-list-item {
}

.navigation-list-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--primery-black);
}
.navigation-list-item-link:hover,
.navigation-list-item-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--primery-blue);
}

.navigation-list-item-link.current {
  color: var(--primery-blue);
}

.contacts-list {
}

.contacts-list-item {
}

.contacts-list-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--primery-grey);
}
.contacts-list-item-link:hover,
.contacts-list-item-link:focus {
  color: var(--primery-blue);
}
/*---HEADER END---*/

/*HERO*/
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-link {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.87px;

  /*color: var(--primery-white);*/
}
/*HERO END*/

/*ABOUT*/
.about {
}

.about-title {
  color: var(--primery-white);
}

.about-list {
}

.about-list-item {
}

.about-list-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  color: var(--primery-black);
  text-transform: uppercase;
}

.about-list-item-discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  color: var(--primery-grey);
}
/*ABOUT END*/

/*---WORKS---*/
.works {
}

.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16px;
  text-align: center;
  color: var(--primery-black);
}

.works-list {
}

.works-list-item {
}
/*---WORKS END---*/

/*---TEAM---*/
.team {
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;
  text-align: center;
  color: var(--primery-black);
}

.team-list {
}

.team-list-item {
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  color: var(--primery-black);
}

.team-member-discriptin {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  color: var(--primery-grey);
}
/*---TEAM END---*/

/*---FOOTER---*/

.footer {
  background-color: #2f303a;
}

.address {
}

.address-discription {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71px;
  color: var(--primery-white);
}

.address-list {
}

.address-list-item {
}

.address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71pxpx;
  color: rgba(255, 255, 255, 0.6);
}
/*---FOOTER END---*/

/*----------------------------------------------STUDIO END------------------*/

/*-----------------------------------PORTFOLIO--------------------*/

/*--PROJECTS--*/

.projects-list {
}

.projects-list-item {
}

.projects-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2px;
  letter-spacing: 0.06em;

  color: var(--primery-black);
}

.projects-list-discription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87px;
  color: var(--primery-grey);
}
